#header{
  width: auto;
  height: 300px;
  background-color: #000a9c;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #009c5d;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Avenir, Helvetica, sans-serif;
}

li a:hover {
  color: #d1ffe3;
  transition: color 1s;
  }

  li a:visited{
  color: #ababab;
  transition: color 1s;
}

